<div class="container-login">
    <div class="login mat-elevation-z4">
        <div class="container-titulo">
            <span class="titulo-login">Login MySchool</span>
        </div>
        <mat-divider>
        </mat-divider>
        <div class="form-login">
            <mat-form-field appearance="outline" class="input">
                <mat-label>Correo</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Contraseña</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="div-boton">
            <div class="boton">
                <button class="boton-sesion mat-elevation-z5" mat-raised-button>Iniciar sesión</button>
            </div>
        </div>
    </div>
</div>