.header-dialog {
  height: 50px;
  margin-top: -24px;
  margin-bottom: 20px;
  margin-left: -24px;
  margin-right: -24px;
  background: #5a7faf;
}

.titulo-card {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.example-full-width {
  margin: 0 2px;
  width: 100%;
}

.form {
  width: 100%;
}

.form2 {
  width: 49%;
}

.top {
  margin-top: 10px;
}

.mensaje-errror {
  font-size: 11px;
}
